div.wrapper {
  margin: auto;
}

.maininput {
  width: 100%;
  resize: vertical;
}

.errors-div {
  padding-top: 5px;
}

.diag {
  width: 100%;
  padding: 5px 10px 1px 10px;
  border-radius: 5px;
}

details[open] > summary {
  color: black;
}

details[open] > summary:not([role]):not(:focus){
  color: blacK;
}

.diag-inner {
  background-color: var(--pico-background-color);
  border-radius: 5px;
  margin-bottom: 4px;
  padding: 0.3em;
}

.ok {
  background-color: rgb(34,139,34);
  color: blacK;
}

.hint {
  background-color: rgb(211,211,211);
}

.warning {
  background-color: rgb(255,126,0);
}

.error {
  background-color: rgb(220,20,60);
}

.catastrophic {
  background-color: rgb(220,20,60);
  color: black;
}
