<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>SECoPCheck</title>
        <link href="static/pico.min.css" rel="stylesheet">
        <link href="static/style.css" rel="stylesheet">
        <script src="https://unpkg.com/htmx.org@2.0.3"></script>
    </head>
    <body>
        <main class="container">
            <div class="wrapper">
                <section>
                <h1>SECoP description check</h1>
                <textarea class="maininput" placeholder="Put your description here!" id="inputBox" name="inputBox" rows="5" cols="33"></textarea>
                <br>
                <button class="submitBtn" hx-post="/check" hx-include="#inputBox" hx-swap="outerHTML" hx-target="#errors-div">
                    Check
                </button>
                </section>
                <section>
                    <div class="errors-div" id="errors-div" data-x="initial"></div>
                </section>
            </div>
        </main>
    </body>
</html>
